@mixin set-margins($left, $right) {
  margin-left: $left;
  margin-right: $right;
}

body {
  @include set-margins(10px, 10px);
}

div {
  @include set-margins(15px, 15px);
}
// guillaume@ubuntu:~/$ sass 3-mixin_margins.scss | tail -n +2